@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(fondo2.jpg);
	background-size: cover;
}
nav{
	max-width: 1200px; 
	margin: auto;
	background-color: #512;
	font-size: 13px;
	margin-top: 30px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 10px 15px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: brown;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 170px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 10px 10px 10px 15px;
}

#html{
	margin: auto;
	padding: 10px;
	max-width: 1200px;
	background: white;

}
