<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<title>Menu desplegable</title>
	<link rel="stylesheet" href="/css/estilo.css" type="text/css">
	
</head>

<body>
	<nav>
		<ul class="menu-horizontal">
			<li><a href="/inicios/inicio">Inicio</a></li>
			
			<li><a href="#">Cliente</a>
				<ul class="menu-vertical">
					<li><a href="/clientes/registroCliente">Registrarse como Cliente</a></li>
					<li><a href="/clientes/vistaActualizar">Actualizar sus datos de cliente</a></li>
				</ul>
			</li>
			<li><a href="#">Flota</a>
				<ul class="menu-vertical">
					<li><a href="/vehiculos/vehiculoDisponible">Buscar vehiculos disponibles</a></li>
					<li><a href="/reservas/reservarVehiculo">Reservar vehiculo</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div>

	</div>
	<section id="html">
		<h2>Cliente</h2>
		<p>El Cliente tiene una gama de actividades desde esta pagina</p>

	</section>
</body>

</html>