<!DOCTYPE html>
<html lang="en">

<head>   
	<meta charset="UTF-8">   
	<meta http-equiv="X-UA-Compatible" content="IE=edge">   
	<meta name="viewport" content="width=device-width, initial-scale=1.0">   
	<link rel="stylesheet" href="/css/estilo.css" type="text/css">
	<title>Menu desplegable</title>
</head>

<body>
	<nav>
		<ul class="menu-horizontal">
			<li><a href="/inicios/inicio">Inicio</a></li>
			<li><a href="#">Cliente</a>
				<ul class="menu-vertical">
					<li><a href="/empleados/registroClientPorEmpl">Registrar Cliente</a></li>
					<li><a href="/empleados/buscarCliente">Buscar Cliente(s)</a></li>
				</ul>
			</li>
			<li><a href="#">Mecanico</a>
				<ul class="menu-vertical">
					<li><a href="/empleados/registroMecanico">Registrar Mecanico</a></li>
				</ul>
			</li>
			<li><a href="#">Vehiculo</a>
				<ul class="menu-vertical">
					<li><a href="/empleados/registroVehiculo">Ingresar un Vehículo</a></li>
					<li><a href="/empleados/">Buscar Vehiculo(s)</a></li>
				</ul>
			</li>
			<li><a href="#">Reservas</a>
				<ul class="menu-vertical">
					<li><a href="/empleados/">Retirar un vehiculo reservado</a></li>
					<li><a href="/empleados/">Retirar un vehiculo sin reserva</a></li>
				</ul>
			</li>
		</ul>
	</nav>
	<div>
	</div>
	<section id="html">
		<h2>Empleado</h2>
		<p>El Empleado tiene una gama de actividades desde esta pagina</p>

	</section>
</body>

</html>